<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<link rel="stylesheet" href="css/login.css">
<body>



    <%- include('header') %>
    <div>
        <%- body %> <!-- This is where the content of the child view will be injected -->
    </div>
</body>
<%- include('footer') %>
</html>