.navbar{
    border:0.2em solid black;
    display: flex; 
    /* justify-content: center; */
    justify-content: flex-end;
}
.nav-list{
    display: inline-flex;
    justify-content:space-around;
    list-style-type: none;
    padding: 2em;
    margin: 0.5em;
    width: 25em;
    background-color: white;
    border: 0.2em solid black;
}
.brand-logot{
    display: inline-flex;
    /* justify-content:; */
    /* list-style-type: none; */
    padding: 2em;
    margin: 0.5em;
    /* width: 25em; */
    /* background-color: white; */
    border: 0.2em solid black;
}